name: Docker Build & Push

on:
  push:
    branches:
      - master   # o cambia a main si usas main

jobs:
  docker:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build y Push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: |
            wowlibre96/wow-libre-realm:latest
            wowlibre96/wow-libre-realm:${{ github.sha }}
